# dependencies
/node_modules

# Hardhat artifacts directory
/.openzeppelin
/artifacts
/cache

# .env files
.env
.env.*
!.env.example

# .log files
*-deployment.log

# .json files
dev-tokensWithAddress.json
dev-contracts.json
prod-contracts.json
